#app-cover {
  margin-top: -100.7px;
}

#app-cover .bg-image {
  height: 80vh;
  background-image: url(./children.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 99%, 15% 50%);
}

#app-cover .bg-title {
  height: 80vh;
  margin-left: 5%;
  margin-right: -50px;
}

#app-cover .h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 70px;
}

#app-cover .moto {
  font-weight: 400;
  color: #14ad02;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

#app-cover .contact-button {
  margin-bottom: 70px;
  background-color: #14ad02;
  border-radius: 0;
}

/* watermark */
.bg-image p {
  background-color: rgb(196, 196, 196, 0.45);
  color: white;
  font-weight: 200;
  position: absolute;
  bottom: 0;
  right: 0;
  filter: alpha(opacity=50);
  margin-bottom: 0;
}

@media (max-width: 990px) {
  #app-cover {
    margin-top: auto;
    text-align: center;
  }

  #app-cover .h1 {
    margin-top: auto;
  }

  #app-cover .bg-image {
    order: 1;
    height: 500px;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 50% 85%);
  }

  #app-cover .bg-title {
    order: 2;
    height: 40rem;
    /* margin-top: -120px; */
  }

  #app-cover .social-icons__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #app-cover .bg-image p {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  #app-cover .bg-image {
    height: 20rem;
  }
}

@media (max-width: 450px) {
  #app-cover .bg-image {
    height: 15rem;
  }
}

@media (max-width: 350px) {
  #app-cover .bg-image {
    height: 13rem;
  }
}
