
// .first-section {
//   height: 896px;
// }

.header {
  display: flex;
  justify-content: space-between; /*расположение названий и кнопки в главной секции*/
}
  
//   .logo-area {
//     width: 173px;
//     height: 63px;
//     background: url(./logo.png);
// }

.menu {
  display: flex;
  list-style: none;
}

.menu-item {
  padding: 0 8px;
}

.main-text__headline {
  margin-top: 169px;
  font-weight: bold;
  font-size: 96px;
  height: 112px;
}

.main-text__caption {
  margin-top: 40px;
  font-size: 56px;
  height: 65px;
  color: #14AD02;  
  /* text-shadow: 0 4 4 0; */
}
  
.contact-us {
  height: 68px;
  width: 298px;
  margin: 56px 0 252px 0; /* 252px - это расстояние от кнопки до иконок соц.сетей*/
  font-size: 24px;
  color: #FFFFFF;
  background-color: #14AD02;
  border: none;
  border-radius: 3px;

  &:hover { /* анимация кнопки */
    background-color: #138a06;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 
                0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.social-icons__area {
  display: flex;
  flex-direction: row; /*чтобы выстроить текст и иконки в один ряд*/

  & > p {
    font-size: 24px;
    width: 208px;
    margin-right: 12px;
  }
}
  
.social-icons {
  margin: 8px;
}

/*******************/

