#AboutUs {
  padding: 201px 96px 220px 0;
  margin-left: 96px;
}

.second-section__area {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 50px; /*размер был задан не по макету*/
}

.second-section__title {
  font-size: 64px;
  font-weight: bold;
  width: 408px;
}

.second-section__description {
  font-size: 32px;
  font-weight: normal;
}

.infos {
  font-weight: 400;
}

.info-2 {
  font-style: italic;
}