#whoWeAre {
  margin-top: 100px;
}

#whoWeAre .infos {
  font-weight: 300;
}

#whoWeAre .info-2 {
  font-style: italic;

}

@media (max-width: 1200px) {
  #whoWeAre  {
    text-align: center;
  }

  #whoWeAre .info-1 {
    text-align: center;
  }
}

@media (max-width: 990px) {
  #whoWeAre  {
    margin-top: -50px;
  }
}

@media (max-width: 600px) {
  #whoWeAre  {
    margin-top: -50px;
  }
}