

#whoWeAre .infos {
  font-weight: 300;
}

#whoWeAre .info-2 {
  font-style: italic;

}

@media (max-width: 1200px) {
  #whoWeAre  {
    text-align: center;
  }

  #whoWeAre .info-1 {
    text-align: center;
  }
}