
#whoWeAre .second-section__area {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 50px; /*размер был задан не по макету*/
}

#whoWeAre .second-section__title {
  font-size: 64px;
  font-weight: bold;
  width: 408px;
}

#whoWeAre .second-section__description {
  font-size: 32px;
  font-weight: normal;
}

#whoWeAre .infos {
  font-weight: 400;
}

#whoWeAre .info-2 {
  font-style: italic;
}