.donate-area {
    display: grid;
    grid-row-gap: 246px;
    margin-bottom: 192px;
}

.frame-first {
    width: 100%;
    height: 652px;
    /* background-color: #F4F4F4; */
    background-color: grey;
}

.frame-second {
    width: 100%;
    height: 652px;
    /* background-color: #FBFBFB; */
    background-color: grey;
}

.frame-third {
    width: 100%;
    height: 652px;
    /* background-color: #F4F4F4; */
    background-color: grey;
}