#donate {
  margin-top: 150px;
}

#donate .bg-image {
  height: 400px;
  background-image: url(./images/image-1.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
}

#donate .bg-image > .arrow {
  width: 0;
  height: 0;
  border-top: 29vh solid transparent;
  border-bottom: 29vh solid transparent;
  border-left: 70px solid #f4f4f4;
}

#donate .row {
  background-color: #f4f4f4;
}

#donate button {
  background-color: #14ad02;
  border-radius: 0;
}

#donate .donate-title {
  font-weight: 700;
  margin-top: 50px;
}


#donate .donate-info {
  font-weight: 300;
  margin: 50px 0 50px 0;
}
