.navbar {
  background-color: transparent;
  color: black;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-gap: 5px;
  list-style: none;
}

.lang-list {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  list-style: none;
}

.nav-divider {
  background-color: #48c774;
  border: none;
  display: block;
  height: 1px;
  margin: 5px;
  width: 85%;
}