#request {
  margin-top: 150px;
}

#request .bg-image {
  height: 400px;
  background-image: url(./images/image-2.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}

#request .bg-image > .arrow {
  width: 400px;

  height: 0;
  border-top: 27vh solid transparent;
  border-bottom: 27vh solid transparent;
  border-right: 70px solid #f4f4f4;
}

#request .row {
  background-color: #f4f4f4;
}

#request button {
  background-color: #14ad02;
  border-radius: 0;
}

#request .request-title {
  font-weight: 700;
  margin-top: 50px;
}


#request .request-info {
  font-weight: 300;
  margin: 50px 0 50px 0;
}
