.third-section {
    margin: 0 96px 204px 96px;
  }
  
  .third-section__area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .third-section__title {
    font-size: 48px;
    padding: 0 48px;
    text-align: center;
  }
  
  .third-section__description {
    font-size: 30px;
    /* width: 1132px; */
    margin: 100px 0;
    font-weight: normal;
    text-align: center;
  }


.third-section__text {
  display: flex;
  flex-direction: column;
  justify-content: center; /* ориентир колонки по центру */
  text-align: center; /* ориентир текста по центру */
}

.third-section__title {
  font-size: 48px;
  margin: 0 550px 48px 550px;
}

.third-section__description {
  font-size: 30px;
  /* width: 1132px; */
  margin: 0 298px 116px 298px;
  font-weight: normal;
}

.activities-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  /* justify-content: space-between; */
  grid-row-gap: 150px;
  text-align: center; /* центрирование текстов */
}

.activities__title {
  font-size: 32px;
}

.activities__description {
  font-size: 28px;
  font-weight: normal; /* тип шрифта */
}

.activities {
  /* width: 100%; */
  height: 194px;
}

/* .activities-icon {
  width: 84px;
  height: 84px;
  background: url(./icon-1.png);
  background-repeat: no-repeat;
} */

.item-1 {
  background: url(./icon-1.png);
  background-repeat: no-repeat;
}

.item-2 {
  background: url(./icon-2.png);
  background-repeat: no-repeat;
}

.item-3 {
  background: url(./icon-3.png);
  background-repeat: no-repeat;
}

.item-4 {
  background: url(./icon-4.png);
  background-repeat: no-repeat;
}

.item-5 {
  background: url(./icon-5.png);
  background-repeat: no-repeat;
}

.item-6 {
  background: url(./icon-6.png);
  background-repeat: no-repeat;
  grid-column: 2 / 4;
}

.item-7 {
  background: url(./icon-7.png);
  background-repeat: no-repeat;
}
