/*стили иконок соц.сетей*/

.social-icons {
    display: flex;
    flex-direction: row;
  
    & > .icon {      
      width: 30px;
      height: 30px;
      border-radius: 16px;
      color: white;
      background-color: #14AD02;
      display: flex;
      align-items: center;
      justify-content: center;     
  
      &:not(:last-child) {
        margin-right: 16px;
      }
  
      &:hover {
        color: white;
        background-color: #000;
      }
    }
  }
  