/*стили иконок соц.сетей*/

.social-icons {
    display: flex;
    flex-direction: row;
  
    & > .icon {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      color: white;
      background-color: #14AD02;
  
      &:not(:last-child) {
        margin-right: 32px;
      }
  
      &:hover {
        color: white;
        background-color: #000;
      }
    }
  }
  