#news {
  margin-top: 70px;
}

.last-card > a {
  color: #14ad02;
}

#newsCard {
  width: 250px;
  font-weight: 300;
  line-height: normal;
}

.card {
  border-radius: 0;
}

.card-body {
  background-color: #14ad02;
}

.card-body > .btn {
  background-color: #14ad02;
  border-radius: 0;
}
