#news {
  margin-top: 70px;
}

#news a {
  color: #14ad02;
}

.last-card > a {
  color: #14ad02;
}

#newsCard {
  width: 250px;
  font-weight: 300;
  line-height: normal;
}

#newsCard > .card {
  height: 500px; /* фиксированная высота карточек для новостей */
}

.card-body {
  background-color: #14ad02;
  color: whitesmoke;
}

.card-body > .btn {
  background-color: #14ad02;
  border-radius: 0;
}


@media (max-width: 1200px) {
  .card {
    margin-bottom: 30px;
  }

  #news {
    text-align: center;
  }

}