* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #000;
  line-height: 48px;
  letter-spacing: 0.03em;
  margin-left: 96px;
}

.first-section {
  height: 895px; /*высота главной секции*/
}

.header {
  display: flex;
  justify-content: space-between; /*расположение названий и кнопки в главной секции*/
}

.menu {
  display: flex;
  list-style: none;
}

.menu-item {
  padding: 0 8px;
}

/* .main-text {
  margin-bottom: 100px;
} */

.main-text__headline {
  margin-top: 169px;
  font-weight: bold;
  font-size: 96px;
  height: 112px;
}

.main-text__caption {
  margin-top: 40px;
  font-size: 56px;
  height: 65px;
  color: #14AD02;  
  /* text-shadow: 0 4 4 0; */
}

.contact-us {
  height: 68px;
  width: 298px;
  margin: 56px 0 252px 0; /* 252px - это расстояние от кнопки до иконок соц.сетей*/
  font-size: 24px;
  color: #FFFFFF;
  background-color: #14AD02;
  border: none;
  border-radius: 3px;

  &:hover { /* анимация кнопки */
    background-color: #138a06;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 
                0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.social-icons__area {
  display: flex;
  flex-direction: row; /*чтобы выстроить текст и иконки в один ряд*/

  & > p {
    font-size: 24px;
    width: 208px;
    margin-right: 12px;
  }
}

.social-icons {
  margin: 8px;
}

.second-section {
  margin: 201px 96px 220px 0;
}

.second-section__area {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 50px; /*размер был задан не по макету*/
}

.second-section__title {
  font-size: 64px;
  font-weight: bold;
  width: 408px;
}

.second-section__description {
  font-size: 32px;
  font-weight: normal;
}

.third-section {
  margin-right: 96px;
}

.third-section__area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-section__title {
  font-size: 48px;
  padding: 0 550px 48px 550px;
}

.third-section__description {
  font-size: 30px;
  /* width: 1132px; */
  margin: 0 298px 116px 298px;
  font-weight: normal;
  text-align: center;
}